@page "/games"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorAppGames.Data.ApplicationDbContext DB
@using BlazorAppGames.Components.Models

<PageTitle>Index</PageTitle>

<h1>Games</h1>

<p>
    <a href="games/create">Create New</a>
</p>

<button class="btn btn-outline-primary" @onclick="SortByRatingDescending">Sort by Rating</button>

<QuickGrid Class="tabel" Items="DB.Game.OrderByDescending(g => g.Rate / Math.Max((int)g.NumberOfRates, 1))">
    <PropertyColumn Property="game => game.Title" />
    <PropertyColumn Property="game => game.Description.Length > 50 ?  (game.Description.Substring(0, 50)) : game.Description" />
    <PropertyColumn Property="game => game.RelaseDate" />
    <PropertyColumn Property="game => game.Rate / Math.Max((int)game.NumberOfRates, 1)" />

    <TemplateColumn Context="game">
        <a href="@($"games/edit?id={game.Id}")">Edit</a> |
        <a href="@($"games/details?id={game.Id}")">Details</a> |
        <a href="@($"games/delete?id={game.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    List<Game> Games = new List<Game>();

    protected override void OnInitialized()
    {
        Games = DB.Game.ToList();
    }

    private void SortByRatingDescending()
    {
        Games = DB.Game.OrderByDescending(g => g.Rate / Math.Max((int)g.NumberOfRates, 1)).ToList();
    }
}
